:root {
    --black: #121212;
    --white: #d9d9d9;
    --yellow: #c7ae38;
    --grey: #1c1c1c;
    --light-gray: #2a2a2a;
    --dark-gray: #1c1c1c;
    --font-family: 'Playfair Display', serif;
    --font-family-alt: 'Arial', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--black);
    font-family: var(--font-family-alt);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: var(--white);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
  }
  
  a {
    text-decoration: none !important;
    color: var(--white) !important;
  }
  
  body {
    background-color: var(--black) !important;
    font-family: 'Playfair Display' !important;
    color: var(--white) !important;
  
  }

  /* Start Navbar*/
  .navbar {
    background-color: var(--black);
    padding: 15px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 3;
  }
  
  .navbar.scrolled {
    background-color: rgba(17, 17, 17, 0.9) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
      font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: var(--white) !important;
  }
    .dropdown-menu {
      position: absolute !important;
    }
  .navbar-brand span{
    color: #c7ae38;
  }
  
  .nav-item {
    margin-left: 15px;
    font-size: 18px;
    color: var(--white) !important;
    position: relative;
  }
  
  .navbar-nav .nav-link {
    color: var(--white) !important;
    font-size: 18px;
    margin-left: 15px;
    transition: 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: var(--yellow) !important;
  }
  
  .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
    animation: underline 0.3s ease;
  }
  
  @keyframes underline {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .nav-item .dropdown-menu {
     display: block; 
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color: var(--black);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: var(--grey);
    color: #c7ae38;
  }
  
  
  @media (max-width: 768px) {
    .footer-column {
        margin-bottom: 30px;
    }
    
    .new-footer h5 {
        margin-bottom: 15px;
    }
  }
  
  /*End Navbar*/

.salt {
  font-family: var(--font-family);
  font-style: italic;
  text-align: center;
  margin-top: 100px;
  background: var(--black);
  min-height: 100vh;
  padding: 50px 20px;
  color: var(--white);
}

.salt h2 {
    font-family: var(--font-family);
    color: var(--yellow);
    font-size: 2.5rem;
    margin-bottom: 60px;
    letter-spacing: 2px;
}

.salt h2 i {
    margin-left: 10px;
    font-size: 30px;
    color: var(--yellow);
}

.salt input {
    padding: 12px 20px;
  width: 50%;
  max-width: 700px;
  background-color: var(--dark-gray);
  color: var(--white);
  border: 2px solid var(--light-gray);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 50px;
    outline: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.salt input:focus {
    background-color: #333;
}

.salt .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 25px;
}

.salt .recipe {
    background-color: var(--dark-gray);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 15px;
    padding: 15px;
    width: 220px;
    height: 320px;
    border-top: 1px solid #c7ae38;
    /*Adjustedtofitpricebetter*/display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.salt .recipe:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 2px rgba(255, 221, 0, 0.5);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.salt img {
    width: 100%;
    height: 150px;
    padding: 8px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.salt .recipe h3 {
    font-size: 16px;
    font-weight: bold;
    color: var(--yellow);
}

.salt .recipe p {
    margin-top: -11px;
    font-size: 18px;
    color: var(--white);
}

.salt .recipe p strong {
    color: var(--yellow);
}

/* Price inside the card */
.salt .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--yellow);
    margin-top: auto; /* Ensure the price stays at the bottom */
    text-align: center;
    margin-top: 15px;
}

.salt .back-home {
    display: inline-block;
  margin: 50px 0;
  margin-top: 80px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: var(--yellow);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  transform: scale(1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.salt .back-home:hover {
    font-size: 24px;
    transform: scale(1.02);
    background-color: #c7af38af;
    color: var(--black);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*Start Footer*/

.new-footer {
  background-color: var(--grey);
  color: var(--white);
  padding: 60px 0 20px;
  font-family: 'Arial', sans-serif;
}

.new-footer h5 {
  color: var(--yellow);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 10px;
}

.footer-column .social-icons i {
  color: #c7af38b9;
  border: #1c1c1c solid;
  border-radius: 50%;
  padding: 10px;
}

.footer-column .social-icons i:hover {
  color: #c7ae38;
  background-color: #1c1c1c;
}



.footer-content p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--white);
}

.footer-content p i {
  margin-right: 8px;
  color: var(--yellow);
  font-size: 15px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: var(--white);
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: var(--yellow);
  padding-left: 5px;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
@media (max-width: 768px) {
  .new-footer h5::after {
    background-color: var(--grey);
  }
}

/*End Footer*/

